@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: Open Sans, sans-serif;
  font-size: 1.6rem;
  background-color: #ffff;
  column-rule: #3333;
  line-height: 1.6;
}
ul {
  list-style: none;
}
a {
  color: #3333;
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300px;
  line-height: 1.2;
}
p {
  margin: 1rem 0;
}
img {
  width: 100%;
}
.text-center {
  text-align: center;
}
/* icons */
.icons {
  padding: 30px;
}
.icons h3 {
  font-weight: 700;
  margin-bottom: 15px;
}
.icons i {
  background-color: var(--primary);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
/* hakkında */
.about {
  color: var(--beyaz);
}
.about h2 {
  font-size: 4rem;
  font-weight: 400;
}
.about p {
  padding: 2rem 0;
}
/* gallery */
.gallery img:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* cards */
.card {
  color: #ffff;
}

.card-body {
  padding: 2rem;
}

/* teams */
.teams img {
  border-radius: 50%;
}

.teams img:hover {
  opacity: 0.7;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}
.footer a {
  color: var(--danger);
  width: 100%;
}
.footer a {
  opacity: 0.7;
}

.footer .social a {
  margin-right: 10px;
}
